@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Aachen";
    src: url("/fonts/Aachen Regular font.woff") format("woff");
  }

  .title-slide {
    @apply text-white text-center;
    text-shadow: 8px 0px #ff00ff;
  }

  html {
    @apply text-white bg-dark;
  }

  h1 {
    @apply text-[8vw] text-purple leading-[8vw] mb-[4vw] mt-[4vw];
  }

  h2 {
    @apply text-[4vw] leading-[4vw];
  }

  h3 {
    @apply text-[2.5vw] leading-[4vw];
  }

  ul {
    @apply list-disc;
  }

  li {
    @apply flex flex-row items-center;
  }

  li h2 {
    @apply ml-[3vw];
  }

  code {
    @apply text-[1.5vw];
  }
}
