@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Aachen";
    src: url("/fonts/Aachen Regular font.woff") format("woff");
  }
  :root {
    color-scheme: light dark;
  }

  .title-slide {
    @apply text-white text-center text-[6vw] leading-[5.3vw];
  }

  button {
    @apply border text-[2vw] hover:bg-gray-400/25 rounded-2xl p-[1vw];
  }

  P {
    @apply text-[2vw];
  }

  a {
    text-decoration: underline;
  }

  p em,
  h2 em {
    @apply text-gray-400;
  }

  h1 em {
    @apply font-light;
  }

  input {
  }

  blockquote::before {
    color: #ccc;
    content: open-quote;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    font-size: 7vw;
  }

  blockquote::after {
    color: #ccc;
    line-height: 0.1em;
    margin-left: 0.25em;
    vertical-align: -0.4em;
    content: close-quote;
    font-size: 7vw;
  }

  figure {
    border-left: 0.4vw solid #ccc;
    padding: 0 2vw 2vw 2vw;
  }

  blockquote {
    font-size: 3vw;
    font-style: italic;
  }

  figcaption::before {
    content: "-";
  }

  figure figcaption {
    font-size: 2vw;
    margin-top: 2vw;
  }

  html {
    @apply text-white bg-dark;
  }

  h1 {
    @apply text-[8vw] text-purple leading-[8vw] mb-[4vw] mt-[4vw] font-extralight text-center;
  }

  h2 {
    @apply text-[4vw] leading-[4vw] font-extralight;
  }

  h3 {
    @apply text-[2.5vw] leading-[4vw];
  }

  ul {
    @apply list-disc;
  }

  li {
    @apply flex flex-row items-center;
  }

  li h2 {
    @apply ml-[3vw];
  }

  code {
    @apply text-[1.8vw];
  }
}
